[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
sentry-sdk = "*"
psycopg2 = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
